$colorPrimary: #52c41a;
$colorBackground: rgba(0, 0, 0, 0.02);
$colorBorder: #ccc;
$colorSvgPlayer: #000;
$colorText: rgba(0, 0, 0, 0.88);
$themeTextColor: #52c41a;
$defaultTextColor: rgba(0, 0, 0, 0.88);
